/*   t y p e s   */

html{
	color: rgb( 0, 0, 0 );
	background-color: rgb( 255, 255, 255 );
	background: url(/Users/kvpb/Desktop/kvpb/images/kvpbsnewsymbol.svg) no-repeat fixed center;
}

body{
	/*color: rgb( 0, 0, 0 );*/
	/*background-color: rgb( 255, 255, 255 );*/
	/*background: url(https://camo.githubusercontent.com/c30ec0405c5e8bb19e19cf20836b2d036130f6b55598843f66c50365d50e0d09/68747470733a2f2f6769737463646e2e6769746861636b2e636f6d2f6b7670622f63383035393465393037396538353763353563333664656334396131613264372f7261772f656563353464353832316463303932616439313036333531343163346534666565626630373536352f6b7670627373796d626f6c2e737667) no-repeat fixed center;*/
	width: 100%;
	height: 100%;
	float: left;
	font-family: 'Times New Roman', serif;
	font-size: 12pt;
	margin: 0 auto 0 auto;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

article{
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

header{
	padding: 1%;
	display: flex;
	flex-direction: row;
}

footer{
	margin: 5% 0 5% 0;
	display: flex;
	flex-direction: column;
}

a{
	text-decoration: none;
}
a:link{
	color: rgb( 85, 85, 85 ); /* default values: `color: rgb( 0, 0, 93 );`; */
}
a:visited{
	color: rgb( 85, 85, 85 ); /* default values: `color: rgb( 85, 26, 139 );`; */
}
a:hover{
	color: rgba( 0, 0, 0, 0.9 );
	animation-name: blink;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-play-state: running;
	-moz-animation-name: blink;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-play-state: running;
	-webkit-animation-name: blink;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
}
a:active{
	color: rgba( 0, 0, 0, 0.9 );
	animation-name: blink;
	animation-duration: 0.1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-play-state: running;
	-moz-animation-name: blink;
	-moz-animation-duration: 0.1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-play-state: running;
	-webkit-animation-name: blink;
	-webkit-animation-duration: 0.1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
}
a:link[rel~=help], a:visited[rel~=help], area:link[rel~=help], area:visited[rel~=help]{
	cursor: help;
}

hr{
	border: none;
}

span.highlight{
	background-color: rgb( 255, 255, 0 );
}
span.black{
	color: rgb( 0, 0, 0 );
}

/*   a t - r u l e s   */

@charset "utf-8";

@keyframes blink{
	0%{
		opacity: 1.0;
	}
	50%{
		opacity: 0.0;
	}
	100%{
		opacity: 1.0;
	}
}

@keyframes scrollwestward{
	0%{
		transform: translateX( 100% );
	}
	100%{
		transform: translateX( -100% );
	}
}

@-webkit-keyframes fadein{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@-webkit-keyframes fadeinandbouncefromleft{
	0%, 60%, 75%, 90%, 100%{
		-webkit-transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
	}
	0%{
		opacity: 0;
		-webkit-transform: translate3d( -1000%, 0, 0 );
	}
	60%{
		opacity: 1;
		-webkit-transform: translate3d( 5%, 0, 0 );
	}
	75%{
		-webkit-transform: translate3d( -5%, 0, 0 );
	}
	90%{
		-webkit-transform: translate3d( 1%, 0, 0 );
	}
	100%{
		opacity: 1;
	}
}

@keyframes stretchrightward{
	0%, 100%{
		transform: scaleX( 1 );
	}
	50%{
		transform: scaleX( 2 );
	}
}

@keyframes transliteratecharacterbycharacter{
	0%{
		content: 'Karl Bertin';
	}
	10%{
		content: 'カrl Bertin';
	}
	20%{
		content: 'カrl ベrtin';
	}
	30%{
		content: 'カrル ベrtin';
	}
	40%{
		content: 'カrル ベルtin';
	}
	50%{
		content: 'カrル・ベルtin';
	}
	60%{
		content: 'カrル・ベルtiン';
	}
	70%{
		content: 'カrル・ベルtィン';
	}
	80%{
		content: 'カール・ベルtィン';
	}
	90%{
		content: 'カール・ベルティン';
	}
	100%{
		content: 'カール・ベルティン';
	}
}

/*   c l a s s e s   */



/*   I D s   */

#wordmark{
	color: rgb( 0, 0, 0 );
	font-family: 'Arial', sans-serif;
	font-weight: 900;
	text-align: left !important;
	padding: 0;
	display: flex;
	flex-direction: column;
	transition: color .1s ease-in-out;
	/*-webkit-animation: fadein .5s 1;*/
}
#line_1_logotype{
	color: rgb( 230, 230, 230 );
	text-transform: uppercase;
	font-size: 12pt;
	/*font-variant: small-caps;*/
	letter-spacing: 10pt/*3.67pt*/;
	padding-left: 3.33pt;
}
#line_2_logotype{
	text-transform: uppercase;
	font-size: 48pt;
	/*font-variant: small-caps;*/
	letter-spacing: -5.5pt;
	line-height: 0.75em;
}
#line_3_logotype{
	font-family: /*'ヒラギノ角ゴ Pro W3', */'Hiragino Kaku Gothic Pro', 'Osaka', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', 'ＭＳ ゴシック' , 'MS Gothic', 'Noto Sans CJK JP', 'TakaoPGothic', sans-serif !important;
	font-size: 24pt;
	/*font-variant: small-caps;*/
	letter-spacing: 21.34pt;
	line-height: 0.9em;
}
#line_4_logotype{
	color: rgb( 230, 230, 230 );
	text-transform: uppercase;
	font-size: 6pt;
	/*font-variant: small-caps;*/
	letter-spacing: 6.50pt;
	padding-left: 3.33pt;
}

/*#*/nav{
	color: rgb( 0, 0, 0 );
	text-shadow: .1px 0 rgb( 255, 255, 255 ), -.1px 0 rgb( 255, 255, 255 ), 0 .1px rgb( 255, 255, 255 ), 0 -.1px rgb( 255, 255, 255 ), .1px .1px rgb( 255, 255, 255 ), -.1px -.1px rgb( 255, 255, 255 ), .1px -.1px rgb( 255, 255, 255 ), -.1px .1px rgb( 255, 255, 255 ); /*-webkit-text-stroke: .1pt rgb( 255, 255, 255 );*/
	font-size: 16px !important;
	font-family: 'Arial', sans-serif;
	font-weight: 900;
	display: flex !important;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: right;
	padding: .1cm;
	border: .1cm;
	margin: .1cm auto auto .1cm;
}
#watch{
	color: rgb( 0, 0, 0 ) !important;
	text-align: left;
	font-size: 16pt !important;
	font-variant: small-caps;
}
#see{
	color: rgb( 0, 0, 0 ) !important;
	text-align: left;
	font-size: 16pt !important;
	font-variant: small-caps;
}
#read{
	color: rgb( 0, 0, 0 ) !important;
	text-align: left;
	font-size: 16pt !important;
	font-variant: small-caps;
}
#listen{
	color: rgb( 0, 0, 0 ) !important;
	text-align: left;
	font-size: 16pt !important;
	font-variant: small-caps;
}
#gettoknowandcontact{
	color: rgb( 0, 0, 0 ) !important;
}
/*#gettoknowandcontact_0{
	text-align: right;
	font-size: 16pt !important;
}*/ /* Sucks. Gotta find how to achieve that cleanly. */
#gettoknowandcontact_1{
	text-align: left;
	font-size: 16pt !important;
	font-variant: small-caps;
}
#gettoknowandcontact_2{
	font-size: 12pt !important;
	font-variant: small-caps;
	text-align: left;
}
#search{
	color: rgb( 0, 0, 0 ) !important;
	text-align: left;
	font-size: 16pt !important;
	font-variant: small-caps;
}
#checkout_TwitterX{
	color: rgb( 0, 0, 0 ) !important;
}
#checkout_TwitterX_1{
	font-size: 16pt !important;
	text-align: left;
}
#checkout_TwitterX_2{
	font-size: 12pt !important;
	font-variant: small-caps;
	text-align: right;
}
#checkout_GitHub{
	color: rgb( 0, 0, 0 ) !important;
}
#checkout_GitHub_1{
	font-size: 16pt !important;
	text-align: left;
}
#checkout_GitHub_2{
	font-size: 12pt !important;
	font-variant: small-caps;
	text-align: right;
}
#search:hover, #gettoknowandcontact:hover, #read:hover, #see:hover, #watch:hover, #listen:hover, #checkout_TwitterX:hover, #checkout_GitHub:hover{
	transform-origin: top left;
	margin: -4pt 0 16pt 0;
	transform: scale( 1.5 );
	animation: none !important;
}

/*	style.css
	The CSS of my website.
	1.00

	Karl Vincent Pierre Bertin `kvpb`	AKA Karl Thomas George West `ktgw`
	+33 A BB BB BB BB					+1 (DDD) DDD-DDDD
	local-part@domain					local-part@domain
	kvpb.fr
	https://x.com/ktgwkvpb
	https://github.com/kvpb	*/
